.wrapper {
    width: 500px;
    height: auto;
    background: lightblue;
}

.wrapper_03 {
    position: relative;
}

.title {
    height: auto;
    width: 70%;
    line-height: 1.5;
    font-size: 20px;
    /* display: inline-block; */
}

.btn {
    position: absolute;
    bottom: 7px;
    right: 20px;
}

.description {
    background: lightyellow;
}

/* デフォルトでは、クローズボタンは表示させない。 */
.close_btn {
    display: none;
}

/* デフォルトでは、テキストは表示させない。 */
.description {
    display: none;
}

.test {
    background: red;
}